.titulo {
    text-align: center;
}

.galeriastickers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
}

.stickers img {
    width: 200px;
    height: 200px;
}

.stickers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.total {
    text-align: center;
}

.links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-direction: column;
    gap: 10px;
}